@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

:root {
    --logo-red: #EE4B2B;
    --logo-blue: #008080;
    --text-grey: #7393B3;
    --text-dark-grey: #36454F;

    /*font-weight*/
    --first-level: 300;
    --second-level: 500;
    --third-level: 600;
    --fourth-level: 700;

    /*font-sizes*/
    --headings-level: 40px;
    --heading-level-2: 35px;
    --subheading-level1: 25px;
    --subheading-level2: 20px;
    --subheading-level3: 18px;
    --subheading-level4: 15px;
    --button-level: 18px;
    --button-level2: 20px;
    --small-size-subheading: 15px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.container {
    margin: 40px auto;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  background-color: white;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
width: min(600px, 100%);
}

img.source {
    margin-top: 20px;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

.logo {
    font-size: var(--headings-level);
}

h1 .blue {
    color: var(--logo-blue);
}

h1 .red {
    color: var(--logo-red);
}

h1 .bracket {
    font-size: 35px;
    font-weight: 500;

}

.logo-paragraph {
    margin-top: 10px;
    font-size: clamp(18px, 70%);
    width: min(450px, 100%);
    color: var(--text-grey);
    font-weight: var(--second-level)
}

.side-A{
    width: min(700px, 100%);
}

.member-highlighted a {
    text-decoration: none;
    color: var(--logo-red);
    font-size: var(--subheading-level3);
    font-weight: var(--fourth-level);
}

.side-B {
    width: min(550px, 100%);
    margin-top: 70px;
    padding: 20px
}


.intro, .member {
    font-size: var(--subheading-level4);
    color: var(--text-grey);
    font-weight: var(--third-level);
}

label {
    color: var(--text-grey);
    font-size: var(--subheading-level3);
    font-weight: var(--fourth-level);
    margin-top: 50px;
}

.input {
    margin-top: 15px;
}

input {
    height: 45px;
    width: 400px;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid var(--logo-blue);
    margin-top: 7px;
}

input:focus,
input:active {
    border: none;
    box-shadow: 2px 2px 15px var(--logo-blue);
}

button {
    margin-top: 25px;
    width: 400px;
    height: 45px;
    border-radius: 8px;
    border: none;
    background-color: var(--logo-blue);
    color: white;
    font-size: var(--button-level);
}

button:hover {
    cursor: pointer;
    font-size: var(--button-level2);
    box-shadow: 5px 10px 10px darkgray;
    font-weight: var(--third-level);
    
}

.sign-up {
    margin-top: 25px;
    display: flex;
    justify-content:center;
    gap: 30px;
    width: 400px;
    border-radius: 8px;
    height: 45px;
    padding: 10px 15px;
    border: 1px solid var(--logo-blue)
}

.sign-up:hover {
    cursor: pointer;
    box-shadow: 2px 5px 15px darkgray;
}

.google {
    width: 24px;
    height:24px;
}

#message {
    display: none; 
    margin-top: 30px;
    border: 1px solid var(--logo-red);
    padding:  30px;
    border-radius: 10px;
    position: relative;
}

h2 {
    font-size: var(--subheading-level2);
    color: var(--logo-red);
}

#message p {
    padding: 5px 35px;
}

.valid {
    color: green;
}

.valid:before {
    position: absolute;
    left: 35px;
    content: '✔';
}

.invalid {
    color: darkgray;
    font-weight: var(--first-level);
    margin-top: 8px;
}


.invalid:before {
    position: absolute;
    left: 35px;
    content: '✖';
}



  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }


@media only screen 
and (min-width: 360px) 
and (max-width: 640px) {



    .container {
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }


    .logo {
        font-size: 22px;
        width: 100%
        margin: 0 auto;
    }

    h1 .bracket {
        font-size: var(--subheading-level3);
        font-weight: 500;
    }
    
    .logo-paragraph {
        text-align: center;
        margin: 20px auto;
        padding: 10px;
        font-size: 13px;
        width: min(300px, 100%);
        color: var(--text-grey);
        font-weight: var(--second-level)
    }

    .side-A{
        width: 100%;
        text-align: center;
    }

    .side-B {
        width: 100%;
        margin: auto;
    }

    img,
    picture {
    width: min(300px, 100%);
    
}

.details {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;

}

.intro, .member {
    font-size: 10px;
    color: var(--text-grey);
    font-weight: var(--third-level);
}

.details > h1 {
    font-size: 20px;
}

.member-highlighted > a {
    font-size: 13px;
}

label {
    font-size: 15px;
}

    input {
        height: 30px;
        width: 300px;
        padding: 5px 10px;
        border-radius: 3px;
        border: 1px solid var(--logo-blue);
        margin-top: 7px;
        font-size: 11px;
}

button {
    margin: 25px auto; 
    align-self: center;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: var(--logo-blue);
    color: white;
    font-size: 13px;
}

button:hover {
    cursor: pointer;
    font-size: 15px;
    box-shadow: 5px 10px 10px darkgray;
    font-weight: var(--third-level);
    
}


.sign-up {
    margin-top: 25px;
    display: flex;
    justify-content:center;
    gap: 10px;
    width: 300px;
    border-radius: 5px;
    height: 35px;
    padding: 10px;
    border: 1px solid var(--logo-blue)
}

.sign-up > p {
    font-size: 10px;
}

.sign-up > img {
    width: 15px;
    height: 15px;
}

#message {
    display: none; 
    width: 200px;
    margin-top: 20px;
    border: 1px solid var(--logo-red);
    padding:  10px;
    border-radius: 10px;
    position: relative;
}

#message > h2 {
    font-size: 15px;
    color: var(--logo-red);
}

#message p {
    padding: 5px 25px;
    font-size: 10px;
}

.valid {
    color: green;
}

.valid:before {
    position: absolute;
    left: 18px;
    content: '✔';
}

.invalid {
    color: darkgray;
    font-weight: var(--first-level);
    margin-top: 8px;
}


.invalid:before {
    position: absolute;
    left: 18px;
    content: '✖';
}

 
}